li {
  list-style: none;
}

li *:first-letter {
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.pokeList__inner {
  max-width: 660px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pokeList__item {
  cursor: pointer;
  height: 300px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokeList__item img {
  height: 195px;
  width: 195px;
}

.pokeList__item span {
  font-weight: 700;
}

.types {
  display: flex;
  column-gap: 15px;
  margin-top: 10px;
}
.type {
  border-radius: 5px;
  min-width: 70px;
  text-align: center;
  padding: 5px;
  font-weight: 600;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.6);
}

.pokeList button {
  margin-bottom: 100px;
  transition: 0.5s;
  width: 95%;
  height: 60px;
  background-color: #1e83f7;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
}

.pokeList button:hover {
  background-color: #0d519e;
}

.fire {
    background: linear-gradient(0deg, #ff0000, transparent);
}

.grass {
  background: linear-gradient(0deg, #2fb46b, transparent);
}

.poison {
  background: linear-gradient(0deg, #e69fec, transparent);
}

.electric {
  background: linear-gradient(0deg, #e4d727, transparent);
}
.ground {
  background: linear-gradient(0deg, #195735, transparent);
}

.water {
  background: linear-gradient(0deg, #0077ff, transparent);
}

.normal {
  background: linear-gradient(0deg, #a7c9b9, transparent);
}

.flying {
  background: linear-gradient(0deg, #91c2fa, transparent);
}

.bug {
  background: linear-gradient(0deg, #4dff4d, transparent);
}

.fighting {
  background: linear-gradient(0deg, #d67575, transparent);
}

.ghost {
  background: linear-gradient(0deg, #e8ffe1, transparent);
}

.steel {
  background: linear-gradient(0deg, #3dc2a5, transparent);
}

.psychic {
  background: linear-gradient(0deg, #535a14, transparent);
}

.ice {
  background: linear-gradient(0deg, #1399c2, transparent);
}

.dark {
  background: linear-gradient(0deg, #50357c, transparent);
}

.fairy {
  background: linear-gradient(0deg, #b60ab6, transparent);
}

.shadow {
  background: linear-gradient(0deg, #363036, transparent);
}

.rock {
  background: linear-gradient(0deg, #9c9181, transparent);
}

.dragon {
  background: linear-gradient(0deg, #771a1a, transparent);
}
